@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1560px;
  font-family:  'sans-serif';
}

.imageResearchTheme {
  width: 100%;
  max-width: 1560px;
}
.jaistlogo {
  width: 100%;
  max-width: 64px;
}
.circle {
  width: 40rem;
}
.btn {
  @apply bg-text-color-secondary px-9 py-3 rounded-md capitalize font-bold hover:opacity-80 ease-in duration-200 mt-6 ;
}

.title {
  @apply xl:text-[30px] lg:text-[27px] sm:text-[23px] md:text-[25px] font-bold uppercase text-blue-800 mb-3;
}

.title2 {
  @apply xl:text-[28px] lg:text-[25px] sm:text-[21px] md:text-[23px] font-bold uppercase text-blue-800;
}
.description {
  @apply xl:text-[20px] lg:text-[17px] sm:text-[16px]  md:text-[17px]  leading-snug; 
}
.description-publication {
  @apply description text-justify; 
}
.image-border {
  @apply border border-gray-400 rounded-xl shadow-lg;
}
.image-viewWidth {
  width: 100%;
  max-width: 700px;
  /* width: 20vw; */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-member {
  width: 100%;

  /* width: 20vw; */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.listproject{
  @apply mb-3 mt-7 xl:text-[23px] lg:text-[20px] sm:text-[19px] md:text-[20px] text-blue-700;
}
/* logo Boss -------------------------------------------------- */
.logo-round {
  max-width: 360px;
  @apply rounded-full;
}

@media (min-width: 1561px) {
  .footercontainer{
    overflow: hidden;
  }
}
@media (max-width: 1560px) {
  .image-viewWidth {
    width: 50vw;
    height: auto;
  }

  .logo-round {
    width: 25vw;
  }
  .proftitle{
    transform: translateX(-23rem);
  }
  .quote:before {
    font-size: 60px;
    left: -20px;
    top: -30px;
  }

  .quote:after {
    font-size: 60px;
    right: -20px;
    bottom: -240px;
  }
  .galary{
    scale: 0.9;
  }
}

@media (max-width: 1250px) {
  .image-viewWidth {
    width: 50vw;
    height: auto;
  }

  .logo-round {
    width: 30vw;
    transform: translateY(-3rem);
  }
  .proftitle {
    transform: translateX(-7rem);

  }
  .quote:before {
    font-size: 40px;
    left: -10px;
    top: -30px;
  }

  .quote:after {
    font-size: 40px;
    right: -30px;
    bottom: -260px;
  }

}

@media (min-width: 768px) and (max-width: 870px) {
  .image-viewWidth {
    margin-top: 10px;
    width: 50vw;
    height: auto;
  }

  .logo-round {
    width: 30vw;
    transform: translateY(-4rem);
  }

  .proftitle {
    transform: translateX(-4rem);
  }

  .quote:before {
    font-size: 40px;
    left: -10px;
    top: -30px;
  }

  .quote:after {
    font-size: 40px;
    right: -30px;
    bottom: -300px;
  }
}

@media (min-width: 479px) and (max-width: 767px) {
  .image-viewWidth {
    margin-top: 10px;
    width: 50vw;
    height: auto;
  }

  .logo-round {
    width: 30vw;
    transform: translateY(0.5rem);
  }

  .proftitle {
    transform: translateX(-3rem);
  }

  .quote:before {
    font-size: 40px;
    left: -10px;
    top: -30px;
  }

  .quote:after {
    font-size: 40px;
    right: -30px;
    bottom: -20vh;
  }
  
}

@media (max-width: 478px) {
  .image-viewWidth {
    margin-top: 15px;
    width: 70vw;
    height: auto;
  }

  .logo-round {
    width: 50vw;
    transform: translateY(0.5rem);
  }

  .proftitle {
    transform: translateX(0rem);
  }

  .quote:before {
    font-size: 40px;
    left: -10px;
    top: -30px;
  }

  .quote:after {
    font-size: 40px;
    right: -30px;
    bottom: -30vh;
  }

  .footerleft{
    @apply hidden;
  }
  .footerieght {
    @apply hidden;
  }
  .jaistinfor {
    display: block;
    margin-bottom: 1.25rem;
  }
  .timeline{
    @apply hidden;
  }
  .gallery-container{
    height: 300px;
  }

  .gallery-item{
    height: 200px !important;
    width: 260px !important;
  }
  .gallery-item-1 {
    height: 200px !important;
    width: 260px !important;
  }
  .gallery-item-2,
  .gallery-item-4 {
    height: 200px !important;
    width: 260px !important;
  }
  .gallery-item-3 {
    height: 280px !important;
    width: 340px !important;
  }
}



.fixed-size-image {
  width: 300px;
  height: 200px;
}

.languageSection {
  padding: 10px 10px;
  text-transform: uppercase;
  display: flex; /* Use flexbox for layout */
  justify-content: flex-end; /* Aligns the content to the right */
  text-align: center; /* Centers the text inside each element */
  max-width: 150px; /* Optional: Sets a max width for the section */
  margin-left: auto; /* Pushes the content to the right side */
  margin-top: 10px;
  margin-bottom: 10px;
}

.languageSection a {
  color: #123;
  font-size: 15px;
  font-weight: 700;
  padding: 15px 10px;
  flex: 1;
  transition: all 0.3s ease-in-out;
}

.languageSection .active {
  background-color: rgb(0, 150, 255);
  border-radius: 5px;
}

.quote {
  position: relative;
}

.quote:before {
  content: open-quote;
  /* Adjust the size as needed */
  position: absolute;
 
}

.quote:after {
  content: close-quote;
  /* Adjust the size as needed */
  position: absolute;

}

/* Control the gallery lab activities -------------------------------------------------------------------------*/

.gallery-container {
  align-items: center;
  display: flex;
  height: 350px;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  /* scale: 0.9; */
}

.gallery-item {
  height: 200px;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 330px;
  z-index: 0;
  border-radius: 15px;
  background-size: contain;
  
}

.gallery-item-1 {
  left: 15%;
  opacity: 0.4;
  transform: translateX(-50%);
}

.gallery-item-2,
.gallery-item-4 {
  height: 250px;
  opacity: 0.7;
  width: 380px;
  z-index: 1;
  background: #ffffff;
}

.gallery-item-2 {
  left: 30%;
  transform: translateX(-50%);
  background: #ffffff;
}

.gallery-item-3 {
  box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
  height: 300px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 430px;
  z-index: 2;
  background: #ffffff;
}
.gallery-item-4 {
  left: 70%;
  transform: translateX(-50%);
  background: #ffffff;
}

.gallery-item-5 {
  left: 85%;
  opacity: 0.4;
  transform: translateX(-50%);
}

.gallery-controls {
  display: flex;
  justify-content: center;
  margin: 25px 0;
  height: 100px;
}

.gallery-controls button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 30px;
  margin: 0 50px;
  padding: 0 12px;
  text-transform: capitalize;
}

.gallery-controls-button:focus {
  outline: none;
}

.gallery-controls-previous {
  position: relative;
}

.gallery-controls-previous::before {
  border: solid #000;
  border-width: 0 5px 5px 0;
  content: '';
  display: inline-block;
  height: 5px;
  left: -30px;
  padding: 10px;
  position: absolute;
  top: 25%;
  transform: rotate(135deg) translateY(-50%);
  transition: left 0.15s ease-in-out;
  width: 5px;
}

.gallery-controls-previous::before {
  left: -40px;
}

.gallery-controls-next {
  position: relative;
}

.gallery-controls-next::before {
  border: solid #000;
  border-width: 0 5px 5px 0;
  content: '';
  display: inline-block;
  height: 5px;
  padding: 10px;
  position: absolute;
  right: -40px;
  top: 45px;
  transform: rotate(-45deg) translateY(-50%);
  transition: right 0.15s ease-in-out;
  width: 5px;
}

.gallery-controls-next:hover::before {
  right: -40px;
}

.gallery-nav {
  bottom: -15px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
}

.gallery-nav li {
  background: #ccc;
  border-radius: 50%;
  height: 10px;
  margin: 0 16px;
  width: 10px;
}

.gallery-nav li.gallery-item-selected {
  background: #555;
}


.gallery-controls button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 20px;
  /* Adjust the size here */
  margin: 0 50px;
  padding: 0 12px;
  text-transform: capitalize;
}


.gallery-controls button:hover {
  scale: 1.5;
  color: coral;
}
/* .gallery-controls-previous button {
  font-size: 25px;
}

.gallery-controls-next button {
  font-size: 25px;
} */

/* Footer Ho lab ---------------------------------------------- */

.footerleft {
  background-color: rgb(44, 44, 44);
  color: #fff;
    margin-right: auto;
      margin-left: auto;
}

.footereight {
  background-color: rgb(62, 62, 62);
  color: #fff;
}

.footercontainer{
  max-width: 2060px;
  width: 100%;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  flex-shrink: 0;
  margin-top: auto;
}






.text-contain-wrap {
  display: grid;
  grid-template-columns: 1fr auto;
  /* Text takes the remaining space, image takes auto width */
  grid-gap: 20px;
  /* Space between the text and the image */
  align-items: start;
  /* Align image to the top */
}

.image img {
  max-width: 150px;
  /* Set the image width as needed */
  height: auto;
  /* Maintain aspect ratio */
}

.text {
  line-height: 1.5;
  /* Adjust line spacing for text readability */
}



/* --------------------- On going project --------------------------- */

.imageongoing{
  float: left;
  margin: 5px 5px;
  border-radius: 5px;
}

.imageongoing img{
  max-width: 20vw;
  
}


/* Paper Link-------------------------------- */

.paperlink {
  @apply text-blue-800 underline underline-offset-2;
}


.line {
  height: 2px; /* Line thickness */
  background-color: #0890ff; /* Line color */
  width: 60%; /* Adjust width as needed */
  margin: 20px auto; /* Center the line and adjust spacing */
}